* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}
html {
  font-size: 62.5%;
  font-family: 'Blinker', sans-serif;
}
body {
  font-size: 1.6rem;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}
