.header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 4px 5px -5px rgba(0, 0, 0, 0.2);
}
.nav-bar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar ul {
  display: flex;
  gap: 10px;
}
